 <h1>Lista de Productos</h1>
    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    <h2>{{this.title}}</h2>
                    <p>{{this.description}}</p>
                    <p>Precio: ${{this.price}}</p>
                    <p>Stock: {{this.stock}}</p>
                    <p>Categoría: {{this.category}}</p>
                    <p>Marca: {{this.brand}}</p>
                    <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}">
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="js/products.js"></script>
